.spinner {
  animation: 1.5s spinning infinite;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes spinning {
  0% {
    transform: rotate(0deg);
    scale: 0.8;
  }
  50% {
    transform: rotate(220deg);
    scale: 1;
  }
  100% {
    transform: rotate(360deg);
    scale: 0.8;
  }
}
